{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="main-content">
        <div class="profile-header">
            <div class="user-info">
                {% if user.image %}
                    <img class="user-avatar" src="{{ user.image.url }}" alt="{{ user.username }}">
                {% else %}
                    <img
                            src="{% static 'vendor/img/default_user_icon.png' %}"
                            alt="User Avatar"
                            class="user-avatar"
                    />
                {% endif %}
                <div class="user-details">
                    <h1 class="username">
                        {% if user.first_name and user.last_name %}
                            {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                    </h1>
                    <p class="email">{{ user.email }}</p>
                    <button class="edit-profile-btn">Edit Profile</button>
                </div>
            </div>
        </div>

        <!-- Edit profile -->

        <div class="edit-profile-section" style="display: none">
            <h2>Edit Profile</h2>
            <form action="{% url 'user:profile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group-edit">
                    <label for="id_username">Имя пользователя</label>
                    <input
                            type="text"
                            id="id_username"
                            value="{{ form.username.value }}"
                            name="username"
                            placeholder="Enter your username"
                            required
                    />
                    {% if form.username.errors %}
                        {{ form.username.errors }}
                    {% endif %}
                </div>
                <div class="form-group-edit">
                    <label for="id_first-name">Имя</label>
                    <input
                            type="text"
                            id="id_first-name"
                            value="{{ form.first_name.value }}"
                            name="first_name"
                            placeholder="Enter your first name"
                            required
                    />
                    {% if form.first_name.errors %}
                        {{ form.first_name.errors }}
                    {% endif %}
                </div>

                <div class="form-group-edit">
                    <label for="id_last-name">Фамилия</label>
                    <input
                            type="text"
                            id="id_last-name"
                            value="{{ form.last_name.value }}"
                            name="last_name"
                            placeholder="Enter your last name"
                            required
                    />
                    {% if form.last_name.errors %}
                        {{ form.last_name.errors }}
                    {% endif %}
                </div>

                <div class="form-group-edit">
                    <label for="id_email">Email</label>
                    <input
                            type="email"
                            id="id_email"
                            value="{{ form.email.value }}"
                            name="email"
                            placeholder="Enter your email"
                            required
                    />
                    {% if form.email.errors %}
                        {{ form.email.errors }}
                    {% endif %}
                </div>

                <div class="form-group-edit">
                    <label for="id_image">Изменить аватар</label>
                    <input type="file" id="id_image" name="image" accept="image/*"/>
                    {% if form.image.errors %}
                        {{ form.image.errors }}
                    {% endif %}
                </div>
                <button type="submit" class="save-profile-btn">Сохранить изменения</button>
            </form>
        </div>

        <!-- Recipes section -->

        <h1>Мои рецепты</h1>
        {% if not recipes %}
            <h2>Здесь пока ничего нет.</h2>
        {% else %}
            <div class="recipe-grid">
                {% for recipe in recipes %}
                    <div class="recipe-card">
                        <a href="{% url 'catalog:recipe' recipe.slug %}">
                            {% if recipe.image %}
                                <img
                                        src="{{ recipe.image.url }}"
                                        alt="Recipe"
                                />
                            {% endif %}
                            <h2>{{ recipe.name }}</h2>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </main>
{% endblock content %}