{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'vendor/style.css' %}"/>
</head>

<body>
<div class="container wrapper">

    <!-- Header -->

    <header class="header">
        <div class="all-logo">
            <div class="logo">
                <a href="{% url 'main:index' %}"
                ><img src="{% static 'vendor/img/mainlogo.svg' %}" alt="Cooking Chest Logo"
                /></a>
            </div>
            <a href="{% url 'main:index' %}">
                <h1 class="site-title">Кулинарный<br/>Сундучок</h1>
            </a>
        </div>
        <div class="header-right">
            <a href="{% url 'catalog:index' 'all' %}">
                <p>Каталог</p>
            </a>
            <a href="./add_recipe.html">
                <p>Добавить рецепт</p>
            </a>

            <!-- Search Field -->

            <form class="search-box" role="search" action="{% url 'catalog:search' %}" method="get">
                <input type="search" name="q" placeholder="Search recipes..."/>
                {#                <button type="submit">Search</button>#}
            </form>

            <!-- Auth field -->

            <div class="auth-actions">
                {% if user.is_authenticated %}
                    <div class="icon-menu user-icon">
                        {% if user.image %}
                            <img src="{{ user.image.url }}" alt="{{ user.username }}">
                        {% else %}
                            <img src="{% static 'vendor/img/default_user_icon.png' %}" alt="Icon"/>
                        {% endif %}
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'users:profile' %}">Мой профиль</a></li>
                            {% if user.is_admin or user.is_staff %}
                                <li><a href="{% url 'admin:index' %}">Админ</a></li>
                            {% endif %}
                            <li><a href="{% url 'user:logout' %}">Выйти</a></li>
                        </ul>
                    </div>
                {% endif %}
                {% if not user.is_authenticated %}
                    <a href="{% url 'user:login' %}">
                        <button class="login-btn" id="loginBtn">Log In</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </header>


    <!-- Main Content -->
    {% block content %}{% endblock content %}


    <!-- Footer -->

    <footer class="footer">
        <p>&copy; 2024 Cooking Chest. All rights reserved.</p>
    </footer>
</div>

<script src="{% static 'vendor/script.js' %}"></script>
</body>
</html>
