{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="main-content">
        <section class="welcome-content">
            <div class="welcome-text">
                <div>
                    <img src="{% static 'vendor/img/mainlogo.svg' %}" alt="Cooking Chest Logo"/>
                </div>
                <div>
                    <h2>
                        Простые идеи, удивительные вкусы! Делитесь рецептами,
                        вдохновляйтесь идеями других и превращайте повседневную готовку
                        в путешествие по миру вкусов.
                        <!-- Создавайте, делитесь и наслаждайтесь кулинарными шедеврами. Ваши
                        рецепты вдохновят тысячи! -->
                    </h2>
                </div>
            </div>
            <img
                    src="{% static 'vendor/img/ready-dish-on-the-table-for-cooking--around-food-a.png' %}"
                    alt="dish-on-the-table-for-cooking"
            />
        </section>

        <h2>Недавно добавленные:</h2>
        <div class="recipe-grid">
            {% for recipe in recipes %}
            <div class="recipe-card">
                <a href="./detail_recipe.html">
                    {% if recipe.image %}
                    <img
                            src="{{ recipe.image.url }}"
                            alt="Recipe"
                    />
                    {% endif %}
                    <h2>{{ recipe.name }}</h2>
                </a>
            </div>
            {% endfor %}
        </div>
    </main>

{% endblock content %}
