{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="main-content">
        <div class="add-recipe-form">
            <h1>Add New Recipe</h1>
            <form
                    action="{% url 'catalog:add' %}"
                    method="POST"
                    enctype="multipart/form-data"
            >
                {% csrf_token %}
{#                {{ form.as_p }}#}
                <div class="form-group">
                    <label for="id_name">Название</label>
                    <input
                            type="text"
                            id="id_name"
                            name="name"
                            placeholder="Введите название"
                            required
                    />
                </div>

                <div class="form-group">
                    <label for="id_description">Описание:</label>
                    <textarea
                            id="id_description"
                            name="description"
                            rows="4"
                            placeholder="Введите краткое описание"
                    ></textarea>
                </div>

                <div class="form-group">
                    <label for="id_ingredients">Ingredients</label>
                    <textarea
                            id="id_ingredients"
                            name="ingredients"
                            rows="6"
                            placeholder="Впишите ингредиенты и их количество: каждый пункт с новой строки."
                            required
                    ></textarea>
                </div>

                <div class="form-group">
                    <label for="id_portions">Порции</label>
                    <input type="number"
                           id="id_portions"
                           name="portions"
                    >
                </div>

                <div class="form-group">
                    <label for="id_instructions">Инструкция</label>
                    <textarea
                            id="id_instructions"
                            name="instructions"
                            rows="6"
                            placeholder="Впишите шаги приготовления: каждый шаг с новой строки, без нумерации."
                            required
                    ></textarea>
                </div>

                <div class="form-group">
                    <label for="id_cooking_time_hours">Время приготовления — X часов.</label>
                    <input type="number"
                           id="id_cooking_time_hours"
                           name="cooking_time_hours"
                    >
                </div>

                <div class="form-group">
                    <label for="id_cooking_time_minutes">Время приготовления — X минут.</label>
                    <input type="number"
                           id="id_cooking_time_minutes"
                           name="cooking_time_minutes"
                    >
                </div>

                <div class="form-group">
                    <label for="id_image">Загрузить изображение</label>
                    <input
                            type="file"
                            id="id_image"
                            name="image"
                            accept="image/*"
                    />
                </div>

                <div class="form-group">
                    <label for="id_category">Категория</label>
                    <select id="id_category" name="category" required>
                        <option value="">Выберите категорию</option>
                        <option value="2">Закуски</option>
                        <option value="3">Салаты</option>
                        <option value="4">Первые блюда</option>
                        <option value="5">Основные блюда</option>
                        <option value="6">Десерты</option>
                    </select>
                </div>

                <button type="submit" class="submit-btn">Добавить рецепт</button>
            </form>
        </div>
    </main>
{% endblock content %}