{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="main-content all-recipes">
    <section class="category-menu">
      <div class="icon-menu user-icon">
        <button class="dropdown-btn">
          <h2>Категории</h2>
        </button>
        <ul class="dropdown-menu">
          <li><a href="{% url 'catalog:index' %}">Appetizers</a></li>
          <li><a href="{% url 'catalog:index' %}">Main Courses</a></li>
          <li><a href="{% url 'catalog:index' %}">Desserts</a></li>
          <li><a href="{% url 'catalog:index' %}">Drinks</a></li>
          <li><a href="{% url 'catalog:index' %}">Vegetarian</a></li>
        </ul>
      </div>
    </section>
    <section class="recipes-all-card">
      <!-- Recipe Grid -->

      <div class="recipe-grid">
        <div class="recipe-card">
          <a href="./detail_recipe.html">
            <img
              src="./img/jagodno-fruktovij-desert-bez-vipechki_33095_photo_17051.webp"
              alt="Recipe 1"
            />
            <h2>Ягодно-фруктовый десерт без выпечки</h2>
          </a>
        </div>
        <div class="recipe-card">
          <a href="recipe-details.html">
            <img src="./img/pasta-karbonara.webp" alt="Recipe 2" />
            <h2>Chocolate Cake</h2>
          </a>
        </div>
        <div class="recipe-card">
          <a href="recipe-details.html">
            <img
              src="./img/pibimpap-koreyskoe-blyudo_49883_photo_53669.webp"
              alt="Recipe 3"
            />
            <h2>Vegetable Salad</h2>
          </a>
        </div>
        <div class="recipe-card">
          <a href="recipe-details.html">
            <img
              src="./img/salat-nisuaz-s-rukkoloj_25267_photo_9508.webp"
              alt="Recipe 4"
            />
            <h2>Pasta Carbonara</h2>
          </a>
        </div>
        <div class="recipe-card">
          <a href="recipe-details.html">
            <img
              src="./img/tomatnij-sup-pjure_20131_photo_4704.webp"
              alt="Recipe 5"
            />
            <h2>Fruit Smoothie</h2>
          </a>
        </div>
        <div class="recipe-card">
          <a href="recipe-details.html">
            <img
              src="./img/tomatnij-sup-pjure_20131_photo_4704.webp"
              alt="Recipe 5"
            />
            <h2>Fruit Smoothie</h2>
          </a>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}