{% extends "base.html" %}
{% load static %}
{% load recipes_tags %}

{% block content %}
    <main class="main-content all-recipes">
        <section class="category-menu">
            <div class="icon-menu user-icon">
                <button class="dropdown-btn">
                    <h2>Категории</h2>
                </button>
                <ul class="dropdown-menu">
                    {% get_recipe_categories as categories %}
                    {% for category in categories  %}
                    <li><a href="{% url 'catalog:index' %}">{{ category.name}}</a></li> 
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="recipes-all-card">
            <!-- Recipe Grid -->

            <div class="recipe-grid">
                {% for recipe in recipes %}
                    <div class="recipe-card">
                        <a href="./detail_recipe.html">
                            {% if recipe.image %}
                            <img
                                    src="{{ recipe.image.url }}"
                                    alt="Recipe"
                            />
                            {% endif %}
                            <h2>{{ recipe.name }}</h2>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </section>
    </main>
{% endblock content %}