{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="main-content">
        <section class="recipe-title-section">
            <h1 class="recipe-title">{{ recipe.name }}</h1>
            <div class="recipe-image">
                <img
                        src="{{ recipe.image.url }}"
                        alt=""
                />
            </div>
            <div class="recipe-info">
                <p><strong>Порции:</strong> {{ recipe.portions }}</p>
                <p><strong>Время приготовления:</strong>
                    {% if recipe.cooking_time_hours %}
                        {{ recipe.cooking_time_hours }} ч.
                    {% endif %}
                    {% if recipe.cooking_time_minutes %}
                        {{ recipe.cooking_time_minutes }} мин.</p>
                    {% endif %}
            </div>
        </section>

        <!-- Description -->

        {% if recipe.description %}
            <section class="instructions author">
                <h2>Описание</h2>
                <p>{{ recipe.description }} </p>
            </section>
        {% endif %}

        <!-- Ingredients -->

        <section class="ingredients">
            <h2>Ingredients</h2>
            <ul>
                {% for ingredient in ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </section>

        <!-- Instructions -->

        <section class="instructions">
            <h2>Instructions</h2>
            <ol>
                {% for line in instructions %}
                    <li>{{ line }}</li>
                {% endfor %}
                {% comment %} <li>
                    Ягоды разморозить, сок слить. В соке развести желатин, дать
                    набухнуть минут 30–40 и подогреть до полного растворения (не
                    доводить до кипения!).
                </li>
                <li>
                    В ягоды добавить сахар, несильно размолоть блендером, смешать с
                    йогуртом, добавить желатин, подождать, пока чуть схватиться, и
                    вылить в форму с основой.
                </li>
                <li>Дать застыть в холодильнике.</li>
                <li>
                    Для более праздничного варианта можно взбить 200 мл жирных сливок
                    (не меньше 30%) и добавить в суфле после желатина. Вкус станет еще
                </li>
                    более сливочным. {% endcomment %}
            </ol>
        </section>

        <!-- Author -->

        <section class="instructions author">
            <h2>Author</h2>
            <p><strong>{{ recipe.author.username }}</strong></p>
        </section>

        <!-- Comments Section -->

        <section class="comments">
            <h2>User Comments</h2>

            <!-- Comments List -->
    
            <div class="comments-list">
                <h3>Recent Comments:</h3>
                {% for comment in comments %}
                <div class="comment">
                    <p>
                        <strong>{{ comment.user }}:</strong> {{ comment.content }}
                    </p>
                </div>
                {% endfor %}
                {% comment %} <div class="comment">
                    <p>
                        <strong>Jane Smith:</strong> Great recipe! I added some extra
                        spices and it was delicious.
                    </p>
                </div> {% endcomment %}
            </div>

            <!-- Comment Form -->

            <form class="comment-form">
        <textarea
                name="comment"
                rows="4"
                placeholder="Write your comment here..."
                required
        ></textarea>
                <button type="submit">Post Comment</button>
            </form>

        </section>
    </main>
{% endblock content %}