{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="main-content">
        <section class="recipe-title-section">
            <h1 class="recipe-title">{{ recipe.name }}</h1>
            <div class="recipe-image">
                {% if recipe.image %}
                    <img
                            src="{{ recipe.image.url }}"
                            alt=""
                    />
                {% else %}
                    <img src="{% static 'vendor/img/default_recipe_img.png' %}" alt=""/>
                {% endif %}
            </div>
            <div class="recipe-info">
                <p><strong>Порции:</strong> {{ recipe.portions }}</p>
                <p><strong>Время приготовления:</strong>
                    {% if recipe.cooking_time_hours %}
                        {{ recipe.cooking_time_hours }} ч.
                    {% endif %}
                    {% if recipe.cooking_time_minutes %}
                        {{ recipe.cooking_time_minutes }} мин.</p>
                    {% endif %}
            </div>
        </section>

        <!-- Description -->

        {% if recipe.description %}
            <section class="instructions author">
                <h2>Описание</h2>
                <p>{{ recipe.description }} </p>
            </section>
        {% endif %}

        <!-- Ingredients -->

        <section class="ingredients">
            <h2>Ингредиенты</h2>
            <ul>
                {% for ingredient in ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </section>

        <!-- Instructions -->

        <section class="instructions">
            <h2>Инструкция</h2>
            <ol>
                {% for line in instructions %}
                    <li>{{ line }}</li>
                {% endfor %}
            </ol>
        </section>

        <!-- Author -->

        <section class="instructions author">
            <h2>Добавил</h2>
            <p><strong>{{ recipe.author.username }}</strong></p>
        </section>

        <!-- Comments Section -->

        <section class="comments">
            <h2>Комментарии</h2>

            <!-- Comments List -->

            <div class="comments-list">
                <h3>Недавние комментарии</h3>
                {% if comments %}
                    {% for comment in comments %}
                        <div class="comment">
                            <p>
                                <strong>{{ comment.user }}:</strong> {{ comment.content }}
                            </p>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="comment">
                        <p><strong>Здесь пока нет комментариев.</strong></p>
                    </div>
                {% endif %}
            </div>

            <!-- Comment Form -->

            {% if user.is_authenticated %}
                <form class="comment-form" method="POST">
                {% csrf_token %}
{#                {{ form }}#}
                    <label for="id_content"></label>
                    <textarea
                            id = "id_content"
                            name="content"
                            rows="4"
                            placeholder="Оставьте свой комментарий здесь..."
                            required
                    ></textarea>
                    <button type="submit">Post Comment</button>
                </form>
            {% endif %}
        </section>
    </main>
{% endblock content %}